/* Estilos para la Galería de Fotografías */
.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Estilos para el Carrusel Full Width */
.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-fullwidth {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.carousel-fullwidth .carousel-inner {
    width: 100%;
    height: 100vh;
}
