.logos {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
      gap: 20px; /* Espacio entre los logos */
      max-width: 600px; /* Ancho máximo del contenedor */
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .logo {
      text-align: center;
    }
    .logo img {
      max-width: 100%; /* Ancho máximo de las imágenes */
      height: auto; /* Altura automática para mantener la proporción */
      cursor: pointer; /* Cambia el cursor a una mano al pasar sobre los logos */
    }
    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
      }