.box {
padding: 10px;
}

.box:nth-child(1) {
    background-color: aqua;
}

.box:nth-child(2) {
    background-color: chartreuse;
}

.box:nth-child(3) {
    background-color: gold;
}

.hero {
    display: flex;
    justify-content: center;
}

p {
    font-size: 14px;
    color: black;
}
h4 {
    font-size: 24px;
    color: deeppink;
    margin-bottom: 20px;
    color: black;
}
footer p {
    color: white;
}